﻿@{
    ViewData["Title"] = "Starter Page";
    ViewData["BodyClass"] = "pace-done theme-gray-600";
}
@section Styles {
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/blockui/jquery.blockUI.js"></script>
    <script src="~/js/action/consultadocumento.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">INICIO</a></li>
    <li class="breadcrumb-item active">CONSULTA DE DOCUMENTO DE VENTAS</li>
</ul>
<div class="row">
    <div class="col-sm-12">
        <div class="card text-dark bg-light">
            <div class="card-header text-white" style="background-color:#274988 !important">PARAMETROS DE CONSULTA</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label>Empresa</label>
                        <select id="selEmpresaFil" class="form-select form-select-sm"></select>
                    </div>
                    <div class="col-sm-2">
                        <label>Tipo Documento Venta</label>
                        <select id="selTipDocVtaFil" class="form-select form-select-sm"></select>
                    </div>
                    <div class="col-sm-2">
                        <label>Nro. Documento / RUC</label>
                        <input id="txtNroDocFil" type="text" class="form-control form-control-sm" />
                    </div>
                    <div class="col-sm-5">
                        <label>Cliente / Razon Social</label>
                        <input id="txtcliRazFil" type="text" class="form-control form-control-sm" />
                    </div>
                    <div class="col-sm-2">
                        <label>Fecha Desde</label>
                        <input id="txtFechaDesdeFil" type="date" class="form-control form-control-sm" />
                    </div>
                    <div class="col-sm-2">
                        <label>Fecha Hasta</label>
                        <input id="txtFechaHastaFil" type="date" class="form-control form-control-sm" />

                    </div>
                    <div class="col-sm-2">
                        <label>Vendedor</label>
                        <select id="selVendedorFil" class="form-select form-select-sm"></select>
                    </div>
                    <div class="col-sm-2">
                        <label>Moneda</label>
                        <select id="selMonedaFil" class="form-select form-select-sm"></select>
                    </div>
                    <div class="col-sm-2">
                        <label>Forma Pago</label>
                        <select id="selFormaPagFil" class="form-select form-select-sm"></select>
                    </div>
                    <div class="col-sm-2">
                        <label>Método Pago</label>
                        <select id="selMetPagFil" class="form-select form-select-sm"></select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <button id="btnConsultar" class="btn btn-sm btn-default"><i class="fa-solid fa-binoculars"></i>&nbsp;Procesar Consulta</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <table id="tabPedidosList"
                               class="table table-sm table-bordered bg-white">
                            <thead class="table-primary">
                                <tr>
                                    <th>TIPO DOC VENTA</th>
                                    <th>N° DOC</th>
                                    <th>FECHA</th>
                                    <th>CLIENTE</th>
                                    <th>FOR. PAGO</th>
                                    <th>MET. PAGO</th>
                                    <th>MONEDA</th>
                                    <th>SUBTOTAL</th>
                                    <th>IGV</th>
                                    <th>TOTAL</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>