﻿@{
    ViewData["Title"] = "Starter Page";
    ViewData["BodyClass"] = "pace-done theme-gray-600";
}
@section Styles {
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/blockui/jquery.blockUI.js"></script>
    <script src="~/js/action/documento.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
}

<div class="row">
    <div class="col-sm-7" id="left">
        <div class="row mt-2 mb-2">
            <div class="col-sm-12">
                <div class="card text-dark bg-light">
                    <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;DETALLE DEL DOCUMENTO</div>
                    <div class="card-body">
                        <table id="tabPedido" class="table table-sm table-bordered" width="100%">
                            <thead class="table-primary">
                                <tr>
                                    <th>ITEM</th>
                                    <th>DESCRIPCION</th>
                                    <th>CN</th>
                                    <th>UM</th>
                                    <th>PR</th>
                                    <th>BL</th>
                                    <th>SUBTOTAL</th>
                                    <th></th>
                                </tr>

                            </thead>
                        </table>
                        <div class="row mt-1">
                            <div class="col-sm-8 text-end">
                                <div><b>SUBTOTAL</b></div>
                            </div>
                            <div class="col-sm-4">
                                <input id="txtSubTotal" style="background-color:#EEE" class="form-control form-control-sm text-end" readonly />
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-sm-8 text-end">
                                <div><b>IGV</b></div>
                            </div>
                            <div class="col-sm-4">
                                <input id="txtIgv" style="background-color:#EEE" class="form-control form-control-sm text-end" readonly />
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-sm-8 text-end">
                                <div><b>TOTAL</b></div>
                            </div>
                            <div class="col-sm-4">
                                <input id="txtTotal" style="background-color:#EEE" class="form-control form-control-sm text-end" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-5">
        <div class="row mt-2 mb-2">
            <div class="col-sm-12">
                <div class="card text-dark bg-light">
                    <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;BÚSQUEDA DE PRODUCTOS</div>
                    <div class="card-body">
                        <div class="input-group input-group-merge">
                            <input id="txtBusProd" type="text" class="form-control form-control-sm" placeholder="Ingrese la descripción del articulo" />
                            <button class="btn btn-sm btn-secondary">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Almacén</label>
                                <select id="selLAlmacen" class="form-select form-select-sm"></select>
                            </div>
                            <div class="col-sm-6">
                                <label>Lista de Precios</label>
                                <select id="selLPrecio" class="form-select form-select-sm"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table id="tabProductos" class="table table-striped table-sm table-bordered" style="font-size:10px;" width="100%">
                                        <thead class="table-primary">
                                            <tr>
                                                <th>
                                                    CODIGO
                                                </th>
                                                <th>
                                                    PRODUCTO
                                                </th>
                                                <th>
                                                    UM
                                                </th>
                                                <th>
                                                    PRECIO
                                                </th>
                                                <th>
                                                    STOCK
                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card text-dark bg-light">
            <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;INFORMACION GENERAL</div>
            <div class="card-body">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h5 class="accordion-header" id="headingZero">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                                <i class="fa-regular fa-folder"></i>&nbsp;INFORMACION DE DOCUMENTO
                            </button>
                        </h5>
                        <div id="collapseZero" class="accordion-collapse collapse show" aria-labelledby="headingZero" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Empresa</label>
                                        <select id="selEmpresa" class="form-select form-select-sm"></select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Tipo Documento Venta</label>
                                        <select id="selTipoDocVenta" class="form-select form-select-sm"></select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Serie Documento</label>
                                        <select id="selSerieDoc" class="form-select form-select-sm"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Tipo Doc. Venta Ref</label>
                                        <select id="selTipoDocVentaRef" class="form-select form-select-sm"></select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Serie Doc. Ref.</label>
                                        <input id="txtSerieRef" style="background-color:#EEE" class="form-control form-control-sm" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Nro. Doc. Ref.</label>
                                        <input id="txtNumDocRef" style="background-color:#EEE" class="form-control form-control-sm" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Fec. Doc. Ref.</label>
                                        <div class="input-group">
                                            <input id="txtFecDocRef" style="background-color:#EEE" class="form-control form-control-sm" readonly />
                                            <button id="btnOpenDocs" class="btn btn-sm btn-default"><i class="fa-regular fa-folder-open"></i></button>
                                            <button id="btnClearDocs" class="btn btn-sm btn-default"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>Motivo NC / ND</label>
                                        <select id="selMNcNd" class="form-select form-select-sm"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h5 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <i class="fa-solid fa-address-card"></i>&nbsp;DATOS DEL CLIENTE
                            </button>
                        </h5>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Tipo Documento</label>
                                        <select id="selTipoDoc" class="form-select form-select-sm"></select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Nro Documento</label>
                                        <div class="input-group">
                                            <input id="txtNroDoc" class="form-control form-control-sm" placeholder="Ingrese Nro. de documento [ min 8 - max 11]" maxlength="11" />
                                            <button id="btnSearchDoc" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                            <button id="btnclearDoc" class="btn btn-sm btn-default"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Nombres o Razon Social</label>

                                        <input id="txtApeRaz" class="form-control form-control-sm" placeholder="Digite un texto para iniciar la busqueda" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Dirección</label>
                                        <input id="txtDireccion" class="form-control form-control-sm" placeholder="Dato Obligatorio" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h5 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa-solid fa-address-card"></i>&nbsp;DATOS DEL VENDEDOR
                            </button>
                        </h5>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>Vendedor</label>
                                        <select id="selVendedor" class="form-select form-select-sm"></select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Fecha</label>
                                        <input id="txtFecha" type="date" class="form-control form-control-sm" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Fecha Entrega</label>
                                        <input id="txtFechaEntrega" type="date" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h5 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa-solid fa-money-bill"></i>&nbsp;INFORMACION DE PAGO
                            </button>
                        </h5>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>Moneda</label>
                                        <select id="selMoneda" class="form-select form-select-sm"></select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Tipo de Cambio</label>
                                        <input id="txtTC" type="number" class="form-control form-control-sm" readonly />
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Forma Pago</label>
                                        <select id="selFormaPag" class="form-select form-select-sm"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Medio de Pago</label>
                                        <select id="selMetPag" class="form-select form-select-sm"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h5 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i class="fa-solid fa-user-pen"></i>&nbsp;OBSERVACIONES
                            </button>
                        </h5>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Observaciones</label>
                                        <textarea id="txtObservaciones" class="form-control form-control-sm" rows="3" placeholder="Ingrese observaciones" style="overflow-y:scroll"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mt-2">
                <div class="d-grid gap-2">
                    <button id="btnGuardar" class="btn btn-default btn-md"><i class="fa fa-save"></i>&nbsp;REGISTRAR DOCUMENTO DE VENTA</button>
                    <button id="btnNuevo" class="btn btn-default btn-md"><i class="fa fa-plus"></i>&nbsp;NUEVO DOCUMENTO DE VENTA</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblDesripcion"></h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label>Código</label>
                        <input id="txtCodArt" type="text" class="form-control form-control-sm" readonly />
                    </div>
                    <div class="col-sm-9">
                        <label>Descripción</label>
                        <input id="txtDesArt" class="form-control form-control-sm" readonly />
                    </div>
                    <div class="col-sm-3">
                        <label>Cantidad</label>
                        <input id="txtCantidad" type="number" class="form-control form-control-sm" value="1" />
                    </div>
                    <div class="col-sm-3">
                        <label>Precio</label>
                        <input id="txtFIgv" type="hidden" />
                        <input id="txtPrecio" type="number" class="form-control form-control-sm text-end" />
                    </div>
                    <div class="col-sm-3">
                        <label>Sub Total</label>
                        <input id="txtSubTotalDet" class="form-control form-control-sm text-end" readonly />
                    </div>
                    <div class="col-sm-3">
                        <label>IGV</label>
                        <input id="txtIgvDet" class="form-control form-control-sm text-end" readonly />
                    </div>
                    <div class="col-sm-3">
                        <label>Total</label>
                        <input id="txtTotalDet" class="form-control form-control-sm text-end" readonly />
                    </div>
                    <div class="col-sm-3">
                        <label>Bultos</label>
                        <input id="txtBultos" type="number" class="form-control form-control-sm" value="0" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-undo"></i>&nbsp;Cerrar
                </button>
                <button id="btnGrabarDetalle" type="button" class="btn btn-sm btn-primary"><i class="fa fa-save"></i>&nbsp;Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="backDropModalView" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblDesripcionTD"></h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-sm-3">
                        <label>Serie</label>
                        <input id="txtBusSer" class="form-control form-control-sm" />
                    </div>
                    <div class="col-sm-3">
                        <label>Número</label>
                        <div class="input-group">
                            <input id="txtBusNum" class="form-control form-control-sm" />
                            <button id="btnBusDoc" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tabDocumento" class="table table-sm table-bordered" style="font-size:12px;" width="100%">
                            <thead class="table-primary">
                                <tr>
                                    <th>SERIE</th>
                                    <th>NUMERO</th>
                                    <th>DOCUMENTO</th>
                                    <th>RAZ. SOCIAL</th>
                                    <th>FECHA</th>
                                    <th>IMPORTE</th>
                                    <th>MONEDA</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-undo"></i>&nbsp;Cerrar
                </button>
            </div>
        </div>
    </div>
</div>