﻿@{
    ViewData["Title"] = "Caja no contab.";
    ViewData["BodyClass"] = "pace-done theme-gray-600";
}
@section Styles {
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/blockui/jquery.blockUI.js"></script>
    <script src="~/js/action/RegistrarCaja.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
}

<div class="col-sm-12">
    <div class="row mt-2 mb-2">
        <div class="col-sm-12">
            <div class="card text-dark bg-light">
                <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;FILTROS</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-6">
                                    <div><b>F.INICIO</b></div>
                                </div>
                                <div class="col-sm-6">
                                    <input id="txtFinicio" type="date" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-6">
                                    <div><b>F.FIN</b></div>
                                </div>
                                <div class="col-sm-6">
                                    <input id="txtFfinal" type="date" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <button id="btnBuscar" class="btn btn-sm btn-default"><i class="fa-solid fa-binoculars"></i>&nbsp;Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" id="left">
        <div class="row mt-2 mb-2">
            <div class="col-sm-12">
                <div class="card text-dark bg-light">
                    <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;RELACIÓN DE TIPOS DE COBRANZAS</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="row mt-1">
                                    <div class="col-sm-6">
                                        <div><b>FECHA REGISTRO</b></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input id="FRegistro" type="date" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row mt-1">
                                    <button id="btnAperturar" class="btn btn-sm btn-primary" onclick="aperturCajaRegistro();"><i class="fa-solid fa-add"></i>&nbsp;APERTURAR CAJA DEL DÍA</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table id="tabCajaCab" class="table table-sm table-bordered" width="100%">
                                <thead class="table-primary">
                                    <tr>
                                        <th>FECHA</th>
                                        <th>INGRESO</th>
                                        <th>SALIDA</th>
                                        <th>TOTAL</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPrincipal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#274988 !important">
                <h5 class="modal-title" id="lblDesripcion" style="color:white !important"></h5>
                <button type="button" id="btncloseX"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mt-2 mb-2">
                    <div class="col-sm-6">
                        <label>SALDO INICIAL</label>
                        <input id="txtSaldoInicial" type="text" class="form-control form-control-sm" disabled />
                        <input id="txtFecha" type="hidden" class="form-control form-control-sm"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card text-dark bg-light">
                            <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;COMPLETAR INFORMACIÓN</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="row mt-1">
                                            <button id="btnNuevo" class="btn btn-sm btn-primary"><i class="fa-solid fa-add"></i>&nbsp;Nuevo</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <table id="tabCaja" class="table table-sm table-bordered" width="100%">
                                        <thead class="table-primary">
                                            <tr>
                                                <th>MOTIVO</th>
                                                <th>I/S</th>
                                                <th>MONTO</th>
                                                <th>RESPONSABLE</th>
                                                <th>COMENTARIO</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="row">
                                    @if (ViewBag.reapertura == "1")
                                    {
                                        <div class="col-sm-3" style="text-align:center; padding:1.5em;">
                                            <div class="row mt-2 mb-2">
                                                <button id="btnReapertura" class="btn btn-sm btn-secondary"><i class="fa-solid fa-lock-open"></i>&nbsp;RE-APERTURAR DÍA</button>
                                                <input id="txtReapertura" type="hidden" class="form-control form-control-sm" />
                                            </div>
                                        </div>
                                    }

                                    <div class="col-sm-3" style="text-align:center; padding:1.5em;">
                                        <div class="row mt-2 mb-2">
                                            <button id="btnCierre" class="btn btn-sm btn-danger"><i class="fa-solid fa-lock"></i>&nbsp;CERRAR DÍA</button>
                                            <input id="txtCierre" type="hidden" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="row mt-2 mb-2">
                                            <label>INGRESO: </label>
                                            <input id="txtIngreso" type="text" class="form-control form-control-sm" disabled />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="row mt-2 mb-2">
                                            <label>SALIDA: </label>
                                            <input id="txtSalida" type="text" class="form-control form-control-sm" disabled />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="row mt-2 mb-2">
                                            <label>SALDO: </label>
                                            <input id="txtSaldo" type="text" class="form-control form-control-sm" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnclose" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-undo"></i>&nbsp;Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPrincipalDet" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#274988 !important">
                <h5 class="modal-title" id="lblDesripciondet" style="color:white !important"></h5>                
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="card text-dark bg-light">
                        <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;COMPLETAR INFORMACIÓN</div>
                        <div class="card-body">
                            <div class="row mt-2 mb-2">
                                <div class="col-sm-6">
                                    <label>Código</label>
                                    <input id="txtCodigo" type="text" class="form-control form-control-sm" disabled />
                                </div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <div class="col-sm-6">
                                    <label>I/S</label>
                                    <select id="dlli_s" class="form-control form-control-sm" onchange="obtenerMotivos();">
                                        <option value="I" selected>INGRESO</option>
                                        <option value="S">SALIDA</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label>Motivo</label>
                                    <select id="dllMotivo" class="form-control form-control-sm"></select>
                                </div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <div class="col-sm-6">
                                    <label>Monto</label>
                                    <input id="txtMonto" type="text" class="form-control form-control-sm" value="0" />
                                </div>
                                <div class="col-sm-6">
                                    <label>Responsable</label>
                                    <select id="txtResponsable" class="form-control form-control-sm"></select>
                                </div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <div class="col-sm-6">
                                    <label>Comentario</label>
                                    <input id="txtComentario" type="text" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-undo"></i>&nbsp;Cerrar
                </button>
                <button id="btnGrabar" type="button" class="btn btn-sm btn-primary"><i class="fa fa-save"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
