﻿@{
    ViewData["Title"] = "Reporte Resumido";
    ViewData["BodyClass"] = "pace-done theme-gray-600";
}
@section Styles {
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/blockui/jquery.blockUI.js"></script>
    <script src="~/js/action/ReportesCajaResumen.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
}

<div class="col-sm-12">
    <div class="row mt-2 mb-2">
        <div class="col-sm-12">
            <div class="card text-dark bg-light">
                <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;FILTROS</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-6">
                                    <div><b>F.INICIO</b></div>
                                </div>
                                <div class="col-sm-6">
                                    <input id="txtFinicio" type="date" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-6">
                                    <div><b>F.FIN</b></div>
                                </div>
                                <div class="col-sm-6">
                                    <input id="txtFfinal" type="date" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <button id="btnGenerar" class="btn btn-sm btn-default"><i class="fa-solid fa-download"></i>&nbsp;Generar Reporte</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>