﻿@{
    ViewData["Title"] = "Autenticación de Usuarios";
    ViewData["AppClass"] = "app-full-height app-without-header app-full-width";
    ViewData["AppWithoutHeader"] = true;
    ViewData["AppWithoutSidebar"] = true;
    ViewData["AppWithoutContainer"] = true;
    ViewData["BodyClass"] = "pace-done theme-gray-600";
}
@model UsuarioAcceso

<!-- BEGIN login -->
<div class="login">
    <!-- BEGIN login-content -->
    <div class="login-content">
        <div class="card" style="width: 25rem;">
            <img src="~/img/smt-1.png" class="card-img-top" alt="...">
            <div class="card-body">
               
                <div class="row" style="background-color:#FFF !important">
                    <div class="col-sm-12">
                        <form asp-controller="Acceso" asp-action="autenticar" method="post" name="login_form">
                            <h4 class="text-center">Control de Usuarios</h4>
                            <div class="text-muted text-center mb-4">
                                Para su protección, verifique su identidad.
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Usuario / Correo Electronico</label>
                                <input type="text" class="form-control form-control-lg fs-15px" value="" placeholder="ingrese el usuario" asp-for="Correo" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Clave</label>
                                <input type="password" class="form-control form-control-lg fs-15px" value="" placeholder="Ingrese la contraseña" asp-for="Clave" required>
                            </div>

                            <button type="submit" class="btn btn-theme btn-lg d-block w-100 fw-500 mb-3"><i class="fa fa-lock"></i>&nbsp;Acceder</button>
                            <div class="text-center" style="font-size:13px;color:#89B57E;font-weight: bold;">
                                <small class="text-muted text-center">&copy; Todos los derechos reservados 2023 - SGP</small>
                            </div>
                            <div class="text-center" style="font-size:13px;color:#89B57E;font-weight: bold;"><small>Nro de version : @ViewData["version"].ToString()</small></div>
                        </form>
                        @{
                            if (!ViewData["errorMessage"].ToString().Equals(""))
                            {
                                <div class="alert alert-danger text-center" role="alert">
                                    <i class="fa-sharp fa-solid fa-bell"></i> @ViewData["errorMessage"].ToString()
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END login-content -->
</div>
<!-- END login -->