﻿@section Styles {
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/js/action/proveedor.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">CATÁLOGO</a></li>
    <li class="breadcrumb-item active">PROVEEDOR</li>
</ul>

<div id="app">

    <div class="table-responsive">
        <table id="tab_data" class="datos table table-sm table-bordered bg-white table-hover">
            <thead class="table-primary">
                <tr>
                    <th>Codigo</th>
                    <th>Razon Social</th>
                    <th>Alias</th>
                    <th>T.Doc</th>
                    <th>Nro.Doc</th>
                    <th>País</th>
                    <th>Dep.</th>
                    <th>Prov.</th>
                    <th>Dist.</th>
                    <th>Teléfono(s)</th>
                    <th>Correo(s)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="dContacto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titulo2"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#listado" type="button" role="tab" aria-controls="listado" aria-selected="true">Listado</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#registro" type="button" role="tab" aria-controls="registro" aria-selected="false">Registro</button>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="listado" role="tabpanel" aria-labelledby="listado-tab">...</div>
                        <div class="tab-pane fade" id="registro" role="tabpanel" aria-labelledby="registro-tab">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Nombres y Apellidos</label>
                                    <input id="txtNombres" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Cargo</label>
                                    <input id="txtCargos" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Correo(s)</label>
                                    <input id="txtCorreo" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Teléfono(s)</label>
                                    <input id="txtelefono" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Tipo Documento</label>
                                    <select id="ddlTdocCnt" class="form-select form-select-sm"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Nro. Documento</label>
                                    <input id="txtNroDocCnt" class="form-control form-control-sm" placeholder="Ingrese Nro. Documento" />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-12">
                                    <div class="d-grid gap-2">
                                        <button type="button" id="btnGuardarContact" class="btn btn-sm btn-default"><i class="fa fa-save"></i>&nbsp;Guardar Cambios</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"><i class="fa fa-cancel"></i>&nbsp;Cerrar</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="dProcesar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Administrar Registro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Codigo</label>
                            <input id="txtCodigo" class="form-control form-control-sm" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Razón Social</label>
                            <input id="txtRazonSocial" class="form-control form-control-sm" placeholder="Ingrese razon social" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Nombre Comercial</label>
                            <input id="txtNomComercial" class="form-control form-control-sm" placeholder="Ingrese nombre comercial" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Dirección</label>
                            <input id="txtDireccion" class="form-control form-control-sm" placeholder="Ingrese dirección" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Teléfono(s)</label>
                            <input id="txtTelefono" class="form-control form-control-sm" placeholder="Ingrese dirección" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Correo(s)</label>
                            <input id="txtCorreo" class="form-control form-control-sm" placeholder="Ingrese dirección" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Tipo Documento</label>
                            <select id="ddlTdoc" class="form-select form-select-sm"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Nro. Documento</label>
                            <input id="txtNroDoc" class="form-control form-control-sm" placeholder="Ingrese Nro. Documento" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Pais</label>
                            <select id="ddlPais" class="form-select form-select-sm"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Observaciones</label>
                            <textarea id="txtObservaciones" class="form-control form-control-sm"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"><i class="fa fa-cancel"></i>&nbsp;Cerrar</button>
                    <button type="button" id="btnGuardar" class="btn btn-sm btn-default"><i class="fa fa-save"></i>&nbsp;Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>
