﻿@{
    ViewData["Title"] = "iMPORTACIONES";
    ViewData["BodyClass"] = "pace-done theme-gray-600";
}
@section Styles {
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="~/lib/select-picker/dist/picker.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/blockui/jquery.blockUI.js"></script>
    <script src="~/js/action/Importaciones.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/select-picker/dist/picker.min.js"></script>
}

<div class="col-sm-12">
    <input id="txtReapertura" type="hidden" class="form-control form-control-sm" value="@ViewBag.reapertura" />
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" style="background-color:#274988 !important;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                    <b>FILTROS</b>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse hide" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-6">
                                    <div><b>F.INICIO</b></div>
                                </div>
                                <div class="col-sm-6">
                                    <input id="txtFinicio" type="date" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-6">
                                    <div><b>F.FIN</b></div>
                                </div>
                                <div class="col-sm-6">
                                    <input id="txtFfinal" type="date" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-4">
                                    <div><b>PROVEEDOR</b></div>
                                </div>
                                <div class="col-sm-8">
                                    <input id="txtProv" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                    <input id="txtProvVal" type="hidden" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-4">
                                    <div><b>MARCA</b></div>
                                </div>
                                <div class="col-sm-8">
                                    <input id="txtMarc" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                    <input id="txtMarcVal" type="hidden" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-4">
                                    <div><b>PRODUCTO</b></div>
                                </div>
                                <div class="col-sm-8">
                                    <input id="txtProd" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                    <input id="txtProdVal" type="hidden" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="display:none;">
                            <div class="row mt-1">
                                <div class="col-sm-6">
                                    <div><b>ETA</b></div>
                                </div>
                                <div class="col-sm-6">
                                    <input id="txtETA" type="date" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-4">
                                    <div><b>N° BL</b></div>
                                </div>
                                <div class="col-sm-8">
                                    <input id="txtNROBL" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-4">
                                    <div><b>N° CONTENEDOR</b></div>
                                </div>
                                <div class="col-sm-8">
                                    <input id="txtNROCONTENEDOR" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-4">
                                    <div><b>N° FACTURA</b></div>
                                </div>
                                <div class="col-sm-8">
                                    <input id="txtOCHEMO" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-4">
                                    <div><b>N° PROF. PROVEEDOR</b></div>
                                </div>
                                <div class="col-sm-8">
                                    <input id="txtProFPROVEE" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-4">
                                    <div><b>N° DAM</b></div>
                                </div>
                                <div class="col-sm-8">
                                    <input id="txtDAM" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-4">
                                    <div><b>N° PZI</b></div>
                                </div>
                                <div class="col-sm-8">
                                    <input id="txtPZI" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row mt-1">
                                <button id="btnBuscar" class="btn btn-sm btn-default"><i class="fa-solid fa-binoculars"></i>&nbsp;Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="row mt-2 mb-2">
        <div class="col-sm-4">
            <div class="row mt-1">
                <button id="btnPrueba" class="btn btn-sm btn-primary"><i class="fa-solid fa-add"></i>&nbsp;Nuevo</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="left">
        <div class="row mt-2 mb-2">
            <div class="col-sm-12">
                <div class="card text-dark bg-light">
                    <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;RELACIÓN DE IMPORTACIONES</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="table-responsive">
                                <table id="tabImporCab" class="table table-sm table-bordered" width="100%">
                                    <thead class="table-primary">
                                        <tr>
                                            <th>N°.IMP</th>
                                            <th>AGENCIA</th>
                                            <th>OC.CHEMO</th>
                                            <th>PROFORMA PROVEEDOR</th>
                                            <th>F.PROFORMA</th>
                                            @* <th>N°-FACTURA</th> *@
                                            @* <th>FECHAE.FACTURA</th> *@
                                            <th>NAVE</th>
                                            <th>LINEA NAVIERA</th>
                                            <th>NUMERO BL</th>
                                            <th>N° CONTENEDOR </th>                                            
                                            <th>ETD</th>
                                            <th>ETA</th>
                                            <th>INCOTERM</th>
                                            <th>PRODUCTO</th>
                                            @* <th>MARCA</th> *@
                                            <th>PROVEEDOR</th>
                                            <th>FLETE</th>
                                            <th>PAGOS</th>
                                            <th>DETALLE</th>
                                            <th>N°DAM</th>
                                            @* <th>DOC.ENV. AGENCIA</th> *@
                                            @* <th>COURIER</th> *@
                                            <th>PZI</th>
                                            @* <th>PAGO DERECHOS</th> *@
                                            <th>LLEGADA ALMACEN</th>
                                            @* <th>LLEGADA LIQUIDACION</th> *@
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDetalle" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#274988 !important">
                <h5 class="modal-title" id="lblDesripcion" style="color:white !important"></h5>
                <button type="button" id="btncloseX"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card text-dark bg-light">
                            @* <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;COMPLETAR INFORMACIÓN</div> *@
                            <div class="card-body">
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-3">
                                        <div class="row mt-1">
                                            <button id="btnNuevoDet" class="btn btn-sm btn-primary"><i class="fa-solid fa-add"></i>&nbsp;Nuevo</button>
                                            <input id="txtCODIGOIMPOR" type="hidden" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="row mt-1">
                                            <div class="col-sm-4">
                                                <div><b>FLETE</b></div>
                                            </div>
                                            <div class="col-sm-8">
                                                <input id="txtFlete" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="row mt-1">
                                            <div class="col-sm-4">
                                                <div><b>SEGURO</b></div>
                                            </div>
                                            <div class="col-sm-8">
                                                <input id="txtSeguro" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="row mt-1">
                                            <button id="btnGuardado" onclick="GuardarRegistroFS();" class="btn btn-sm btn-outline-purple"><i class="fa-solid fa-save"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="tabImporDet" class="table table-sm table-bordered" width="100%">
                                        <thead class="table-primary">
                                            <tr>
                                                <th width="50%">ARTICULO</th>
                                                <th width="10%">MARCA</th>
                                                <th width="5%">CANTIDAD</t>
                                                <th width="5%">PRECIO</th>
                                                <th width="5%">BULTOS</th>
                                                <th width="5%">SUB-TOTAL</th>
                                                <th width="10%">OBSERVACIÓN</th>
                                                <th width="5%"></th>
                                                <th width="5%"></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row mt-1">
                            <div class="col-sm-6">
                                <div><b>TOTALIZADOR</b></div>
                            </div>
                            <div class="col-sm-6">
                                <input id="txtTotalizador" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" id="btnclose" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                            <i class="fa fa-undo"></i>&nbsp;Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalPagoProveedor" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#274988 !important">
                <h5 class="modal-title" id="lblDesripcion2" style="color:white !important"></h5>
                <button type="button" id="btncloseX"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card text-dark bg-light">
                            @* <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;COMPLETAR INFORMACIÓN</div> *@
                            <div class="card-body">
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-4">
                                        <div class="row mt-1">
                                            @* <button id="btnNuevoDet" class="btn btn-sm btn-primary"><i class="fa-solid fa-add"></i>&nbsp;Nuevo</button> *@
                                            <input id="txtCODIGOIMPOR2" type="hidden" class="form-control form-control-sm" />
                                            <input id="txtCODIGOPROVEE2" type="hidden" class="form-control form-control-sm" />
                                            <input id="txtDESCRIPROVEE2" type="text" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-header text-white" style="background-color:#274988 !important">
                                            <i class="fa-solid fa-table-list"></i>&nbsp;PROVEEDOR
                                            <button id="btnPP_Nuevo" class="btn btn-sm btn-secondary"><i class="fa-solid fa-add"></i>&nbsp;Nuevo</button>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="tabPagoProveedor" class="table table-sm table-bordered" width="100%">
                                                <thead class="table-primary">
                                                    <tr>
                                                        <th width="30%">FORMA DE PAGO</th>
                                                        <th width="5%">IMPORTE</t>
                                                        <th width="5%">FECHA</th>
                                                        <th width="15%">BANCO</th>
                                                        <th width="10%">N°OPERACION</th>
                                                        <th width="25%">OBSERVACION</th>
                                                        <th width="5%"></th>
                                                        <th width="5%"></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-header text-white" style="background-color:#274988 !important">
                                            <i class="fa-solid fa-table-list"></i>&nbsp;AGENTE
                                            <button id="btnPA_Nuevo" class="btn btn-sm btn-secondary"><i class="fa-solid fa-add"></i>&nbsp;Nuevo</button>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="tabPagoAgente" class="table table-sm table-bordered" width="100%">
                                                <thead class="table-primary">
                                                    <tr>
                                                        <th width="30%">FORMA DE PAGO</th>
                                                        <th width="5%">IMPORTE</t>
                                                        <th width="5%">FECHA</th>
                                                        <th width="15%">BANCO</th>
                                                        <th width="10%">N°OPERACION</th>
                                                        <th width="25%">OBSERVACION</th>
                                                        <th width="5%"></th>
                                                        <th width="5%"></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-header text-white" style="background-color:#274988 !important">
                                            <i class="fa-solid fa-table-list"></i>&nbsp;FLETE
                                            <button id="btnPF_Nuevo" class="btn btn-sm btn-secondary"><i class="fa-solid fa-add"></i>&nbsp;Nuevo</button>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="tabPagoFlete" class="table table-sm table-bordered" width="100%">
                                                <thead class="table-primary">
                                                    <tr>
                                                        <th width="30%">FORMA DE PAGO</th>
                                                        <th width="5%">IMPORTE</t>
                                                        <th width="5%">FECHA</th>
                                                        <th width="15%">BANCO</th>
                                                        <th width="10%">N°OPERACION</th>
                                                        <th width="25%">OBSERVACION</th>
                                                        <th width="5%"></th>
                                                        <th width="5%"></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-header text-white" style="background-color:#274988 !important">
                                            <i class="fa-solid fa-table-list"></i>&nbsp;VARIOS
                                            <button id="btnPV_Nuevo" class="btn btn-sm btn-secondary"><i class="fa-solid fa-add"></i>&nbsp;Nuevo</button>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="tabPagoVarios" class="table table-sm table-bordered" width="100%">
                                                <thead class="table-primary">
                                                    <tr>
                                                        <th width="30%">FORMA DE PAGO</th>
                                                        <th width="5%">IMPORTE</t>
                                                        <th width="5%">FECHA</th>
                                                        <th width="15%">BANCO</th>
                                                        <th width="10%">N°OPERACION</th>
                                                        <th width="25%">OBSERVACION</th>
                                                        <th width="5%"></th>
                                                        <th width="5%"></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnclose" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-undo"></i>&nbsp;Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalAgencia" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#274988 !important">
                <h5 class="modal-title" id="lblDesripcion3" style="color:white !important"></h5>
                <button type="button" id="btncloseX"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card text-dark bg-light">
                            @* <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;COMPLETAR INFORMACIÓN</div> *@
                            <div class="card-body">
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-3">
                                        <div class="row mt-1">
                                            <input id="txtCODIGOIMPOR3" type="hidden" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-12">
                                        <div class="form-group mt-1">
                                            <label class="form-label" for="selAgencia"><b>AGENCIA</b></label>
                                            <select id="selAgencia" class="form-select form-select-sm selectpicker"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-6">
                                        <div class="form-group mt-1">
                                            <label class="form-label" for="txtLlegaLiq"><b>LLEGADA LIQUIDACIÓN</b></label>
                                            <input id="txtLlegaLiq" type="date" value="1900-01-01" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mt-1">
                                            <label class="form-label" for="txtNLiqui"><b>N° LIQUIDACIÓN</b></label>
                                            <input id="txtNLiqui" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-6">
                                        <div class="form-group mt-1">
                                            <label class="form-label" for="txtDocEnvAgencia"><b>DOC. ENV. AGENCIA</b></label>
                                            <input id="txtDocEnvAgencia" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row mt-1">
                            <button id="btnGuardarProv" onclick="ActualizarRegistro();" class="btn btn-sm btn-outline-purple"><i class="fa-solid fa-save"></i></button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" id="btnclose" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                            <i class="fa fa-undo"></i>&nbsp;Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalProveedor" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#274988 !important">
                <h5 class="modal-title" id="lblDesripcion4" style="color:white !important"></h5>
                <button type="button" id="btncloseX"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card text-dark bg-light">
                            @* <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;COMPLETAR INFORMACIÓN</div> *@
                            <div class="card-body">
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-3">
                                        <div class="row mt-1">
                                            <input id="txtCODIGOIMPOR4" type="hidden" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-12">
                                        <div class="form-group mt-1">
                                            <label class="form-label" for="selAgencia"><b>PROVEEDOR</b></label>
                                            <select id="selProveedor" class="form-select form-select-sm selectpicker"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-6">
                                        <div class="form-group mt-1">
                                            <label class="form-label" for="txtFactura"><b>N° FACTURA</b></label>
                                            <input id="txtFactura" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mt-1">
                                            <label class="form-label" for="txtFEFactura"><b>FECHA.E.FACTURA</b></label>
                                            <input id="txtFEFactura" type="date" value="1900-01-01" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                        </div>
                                    </div>
                                </div>                                
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-6">
                                        <div class="form-group mt-1">
                                            <label class="form-label" for="txtCourier"><b>COURIER</b></label>
                                            <input id="txtCourier" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row mt-1">
                            <button id="btnGuardado" onclick="ActualizarRegistro_Prov();" class="btn btn-sm btn-outline-purple"><i class="fa-solid fa-save"></i></button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" id="btnclose" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                            <i class="fa fa-undo"></i>&nbsp;Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalProveedorFlete" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#274988 !important">
                <h5 class="modal-title" id="lblDesripcion5" style="color:white !important"></h5>
                <button type="button" id="btncloseX"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card text-dark bg-light">
                            @* <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;COMPLETAR INFORMACIÓN</div> *@
                            <div class="card-body">
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-3">
                                        <div class="row mt-1">
                                            <input id="txtCODIGOIMPOR5" type="hidden" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-12">
                                        <div class="form-group mt-1">
                                            <label class="form-label" for="selAgencia"><b>PROVEEDOR</b></label>
                                            <select id="selProveedorFlete" class="form-select form-select-sm selectpicker"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-6">
                                        <div class="form-group mt-1">
                                            <label class="form-label" for="txtFactura"><b>N° FACTURA</b></label>
                                            <input id="txtFacturaFlete" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mt-1">
                                            <label class="form-label" for="txtFEFactura"><b>FECHA.E.FACTURA</b></label>
                                            <input id="txtFEFacturaFlete" type="date" value="1900-01-01" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row mt-1">
                            <button onclick="ActualizarRegistro_ProvFlete();" class="btn btn-sm btn-outline-purple"><i class="fa-solid fa-save"></i></button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" id="btnclose" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                            <i class="fa fa-undo"></i>&nbsp;Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>