﻿@{
    ViewData["Title"] = "Linea Naviera";
    ViewData["BodyClass"] = "pace-done theme-gray-600";
}
@section Styles {
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/blockui/jquery.blockUI.js"></script>
    <script src="~/js/action/LineaNaviera.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
}

<div class="row">
    <div class="col-sm-12" id="left">
        <div class="row mt-2 mb-2">
            <div class="col-sm-12">
                <div class="card text-dark bg-light">
                    <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;RELACIÓN DE LINEA NAVIERA</div>
                    <div class="card-body">
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <button id="btnNuevo" class="btn btn-sm btn-primary"><i class="fa-solid fa-add"></i>&nbsp;Nuevo</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="tabLNaviera" class="table table-sm table-bordered" width="100%">
                                <thead class="table-primary">
                                    <tr>
                                        <th>CÓDIGO</th>
                                        <th>DESCRIPCIÓN</th>
                                        <th>COMENTARIO</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPrincipal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#274988 !important">
                <h5 class="modal-title" id="lblDesripcion" style="color:white !important"></h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="card text-dark bg-light">
                        <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;COMPLETAR INFORMACIÓN</div>
                        <div class="card-body">
                            <div class="row mt-2 mb-2">
                                <div class="col-sm-3">
                                    <label>Código</label>
                                    <input id="txtCodigo" type="text" class="form-control form-control-sm" readonly/>
                                </div>
                                <div class="col-sm-9">
                                    <label>Descripción</label>
                                    <input id="txtDescripcion" type="text" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <div class="col-sm-12">
                                    <label>Comentario</label>
                                    <textarea id="txtObs" rows="3" type="text" class="form-control form-control-sm"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-undo"></i>&nbsp;Cerrar
                </button>
                <button id="btnGrabar" type="button" class="btn btn-sm btn-primary"><i class="fa fa-save"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>