﻿@{
    ViewData["Title"] = "Consulta cobranzas";
    ViewData["BodyClass"] = "pace-done theme-gray-600";
}
@section Styles {
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/blockui/jquery.blockUI.js"></script>
    <script src="~/js/action/consultaCobranza.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
}

<div class="col-sm-12">
    <div class="row mt-2 mb-2">
        <div class="col-sm-12">
            <div class="card text-dark bg-light">
                <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;FILTROS</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-6">
                                    <div><b>F.INICIO</b></div>
                                </div>
                                <div class="col-sm-6">
                                    <input id="txtFinicio" type="date" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-6">
                                    <div><b>F.FIN</b></div>
                                </div>
                                <div class="col-sm-6">
                                    <input id="txtFfinal" type="date" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <button id="btnBuscar" class="btn btn-sm btn-default"><i class="fa-solid fa-binoculars"></i>&nbsp;Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="left">
        <div class="row mt-2 mb-2">
            <div class="col-sm-12">
                <div class="card text-dark bg-light">
                    <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp; LISTA DE PLANILLAS</div>
                    <div class="card-body">
                        <table id="tabPlanillas" class="table table-sm table-bordered" width="100%">
                            <thead class="table-primary">
                                <tr>
                                    <th>CÓDIGO</th>
                                    <th>FEC. COBRANZA</th>
                                    <th>COBRO SOLES</th>
                                    <th>COBRO DOLARES</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDetails" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#274988 !important">
                <h5 class="modal-title" id="lblDesripcion" style="color:white !important"></h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="tabPlanillasDet" class="table table-sm table-bordered" width="100%">
                    <thead class="table-primary">
                        <tr>
                            <th>COMPROBANTE</th>
                            <th>SECUENCIA</th>
                            <th>FECHA COBRO</th>
                            <th>CLIENTE</th>
                            <th>RUC</th>
                            <th>CONCEPTO</th>
                            <th>MONTO</th>
                            <th>MONEDA</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-undo"></i>&nbsp;Cerrar
                </button>
            </div>
        </div>
    </div>
</div>