﻿@{
    ViewData["Title"] = "Cobranzas";
    ViewData["BodyClass"] = "pace-done theme-gray-600";
}
@section Styles {
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/blockui/jquery.blockUI.js"></script>
    <script src="~/js/action/Cobranza.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
}
<div class="col-sm-12">
    <div class="row mt-2 mb-2">
        <div class="col-sm-12">
            <div class="card text-dark bg-light">
                <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;FILTROS</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row mt-1">
                                <div class="col-sm-2">
                                    <div><b>AVAL</b></div>
                                </div>
                                <div class="col-sm-10">
                                    <input id="txtAval" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                    <input id="txtAvalVal" type="hidden" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mt-1">
                                <div class="col-sm-2">
                                    <div><b>CLIENTE</b></div>
                                </div>
                                <div class="col-sm-10">
                                    <input id="txtCliente" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                    <input id="txtClienteVal" type="hidden" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row mt-1">
                                <div class="col-sm-2">
                                    <div><b>PEDIDO</b></div>
                                </div>
                                <div class="col-sm-10">
                                    <input id="txtPedido" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mt-1">
                                <div class="col-sm-2">
                                    <div><b>DOCUMENTO</b></div>
                                </div>
                                <div class="col-sm-10">
                                    <input id="txtDocumento" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-6">
                                    <div><b>F.INICIO</b></div>
                                </div>
                                <div class="col-sm-6">
                                    <input id="txtFinicio" type="date" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <div class="col-sm-6">
                                    <div><b>F.FIN</b></div>
                                </div>
                                <div class="col-sm-6">
                                    <input id="txtFfinal" type="date" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mt-1">
                                <button id="btnBuscar" class="btn btn-sm btn-default"><i class="fa-solid fa-binoculars"></i>&nbsp;Buscar</button>
                                <input id="txtCobranzaExcesoId" type="hidden" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="left">
        <div class="row mt-2 mb-2">
            <div class="col-sm-12">
                <div class="card text-dark bg-light">
                    <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;DETALLE DEL DOCUMENTO</div>
                    <div class="card-body">
                        <table id="tabCartera" class="table table-sm table-bordered" width="100%">
                            <thead class="table-primary">
                                <tr>
                                    <th colspan="11" style="text-align:right;">
                                        <div class="col-sm-12">
                                            <div class="row mt-1">
                                                <div class="col-sm-6">
                                                    <div><b>MONTO A COBRAR</b></div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input id="txtMontoCobrar" value="0.00" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                                    <input id="txtMontoCobrarAux" value="0.00" type="hidden" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th>AVAL</th>
                                    <th>FEC. PEDIDO</th>
                                    <th>PEDIDO</th>
                                    <th>TOTAL PEDIDO</th>
                                    <th>DOC</th>
                                    <th>COMPROBANTE</th>
                                    <th>FEC. DOC</th>
                                    <th>TOTAL. DOC</th>
                                    <th>SALDO. DOC</th>
                                    <th>SELEC.</th>
                                    <th>COBRADO S/.</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="left">
        <div class="row mt-2 mb-2">
            <div class="col-sm-12">
                <div class="card text-dark bg-light">
                    <div class="card-header text-white" style="background-color:#274988 !important"><i class="fa-solid fa-table-list"></i>&nbsp;COMPLETAR INFORMACIÓN</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row mt-1">
                                    <div class="col-sm-3">
                                        <div><b>COBRANZA</b></div>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="txtTipCobranza" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                        <input id="txtTipCobranzaTip" type="hidden" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                        <input id="txtTipCobranzaVal" type="hidden" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row mt-1">
                                    <div class="col-sm-3">
                                        <div><b>REFERENCIA</b></div>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="txtReferencia" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row mt-1">
                                    <div class="col-sm-3">
                                        <div><b>GLOSA</b></div>
                                    </div>
                                    <div class="col-sm-9">
                                        <textarea id="txtGlosa" type="text" style="background-color:#EEE" class="form-control form-control-sm text-end"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 mt-2">
        <div class="d-grid gap-2">
            <button id="btnGuardar" class="btn btn-default btn-md"><i class="fa fa-save"></i>&nbsp;REGISTRAR COBRANZA</button>
            <button id="btnNuevo" class="btn btn-default btn-md"><i class="fa fa-plus"></i>&nbsp;NUEVO COBRANZA</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPrincipal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#274988 !important">
                <h5 class="modal-title" id="lblDesripcion" style="color:white !important"></h5>
                <button type="button" id="btncloseX"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <strong id="messageExceso"></strong>
                    <input type="hidden" id="txtMontoExceso" class="form-control form-control-sm text-end" />
                    <input type="hidden" id="txtidcobranzaexceso" class="form-control form-control-sm text-end" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnclose" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-undo"></i>&nbsp;Cerrar
                </button>
                <button id="btnUsarCobroExc" type="button" class="btn btn-sm btn-primary"><i class="fa fa-save"></i>&nbsp;Confirmar</button>
            </div>
        </div>
    </div>
</div>
