﻿@using Microsoft.AspNetCore.Http

@{
    string appMode = "";
    if (Context.Request.Cookies.TryGetValue("dark-mode", out string appModeValue))
    {
        appMode = (appModeValue == "dark-mode") ? "dark" : "";
    }
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="@appMode" @ViewData["HtmlAttribute"]>
<head>
    <meta charset="utf-8">
    <title>AspStudio | @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewData["MetaDescription"]">
    <meta name="author" content="@ViewData["MetaAuthor"]">
    <meta name="keywords" content="@ViewData["MetaKeywords"]">

    @RenderSection("MetaTag", required: false)

    <!-- ================== BEGIN core-css ================== -->
    <link href="~/css/vendor.min.css" rel="stylesheet">
    <link href="~/css/app.min.css" rel="stylesheet">
    <link href="~/css/default.css" rel="stylesheet">
    <!-- ================== END core-css ================== -->
    @RenderSection("Styles", required: false)
</head>
<body class="@ViewData["BodyClass"]">
    <!-- BEGIN #app -->
    <div id="app" class="app @ViewData["AppClass"]">
        @if (ViewData["AppWithoutHeader"] == null)
        {
            <partial name="_Header" />
        }

        @if (ViewData["AppWithoutSidebar"] == null)
        {
            <partial name="_Sidebar" />
        }

        @if (ViewData["AppTopNav"] != null)
        {
            <partial name="_TopNav" />
        }

        @if (ViewData["AppWithoutContainer"] == null)
        {
            <div id="content" class="app-content @ViewData["AppContentClass"]">
                @RenderBody()

                <!-- BEGIN btn-scroll-top -->
                <a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
                <!-- END btn-scroll-top -->
            </div>
        }
        else
        {
            @RenderBody()

            <!-- BEGIN btn-scroll-top -->
            <a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
            <!-- END btn-scroll-top -->
        }

        @RenderSection("OutterAppContainerContent", required: false)

        @if (ViewData["AppWithFooter"] != null)
        {
            <partial name="_Footer" />
        }

        <partial name="_ThemePanel" />
        <input type="hidden" id="hfUsuario" value="@ViewData["id_usuario"]" />
    </div>

    <!-- ================== BEGIN core-js ================== -->
    <script>
        window.paceOptions = {
            ajax: { ignoreURLs: ['mainHub', '__browserLink', 'browserLinkSignalR'], trackWebSockets: false }
        };
    </script>
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/app.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <script src="~/js/default.js"></script>

    <!-- ================== END core-js ================== -->
    @RenderSection("Scripts", required: false)
</body>
</html>
