﻿body {
    font-family:Arial;
    font-size:12px;
}
.header {
    text-align: center;
    color: green;
    padding-bottom: 35px;
}

.tabcabecera {
    border-collapse: collapse;
}

    .tabcabecera td, th {
        padding: 5px;
        border:1px solid #CCCCCC;
    }

table th {
    background-color: green;
    color: white;
}
