﻿@{
    ViewData["Title"] = "Starter Page";
    ViewData["BodyClass"] = "pace-done theme-gray-600";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">LAYOUT</a></li>
    <li class="breadcrumb-item active">STARTER PAGE</li>
</ul>

<h1 class="page-header">
    Starter Page <small>page header description goes here...</small>
</h1>

<p>
    Start build your page here
</p>