﻿@{
    ViewData["Title"] = "Starter Page";
    ViewData["BodyClass"] = "pace-done theme-gray-600";
}
@section Styles {
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/blockui/jquery.blockUI.js"></script>
    <script src="~/js/action/guiaremitente.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">GUIA DE REMISIÓN</a></li>
    <li class="breadcrumb-item active">NUEVA GUIA DE REMITENTE</li>
</ul>
<div class="row">
    <div class="col-sm-12">
        <div class="card text-dark bg-light">
            <div class="card-header text-white" style="background-color:#274988 !important;"><i class="fa-solid fa-table-list"></i>&nbsp;GENERAR GUÍA REMITENTE</div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label for="cliente">Cliente</label>
                            <select name="cliente" id="cliente" class="form-control" required>
                                <option value="">Cliente</option>

                            </select>
                            <input type="hidden" id="tipo" name="tipo">
                            <input type="hidden" id="rucdni" name="rucdni">
                            <input type="hidden" id="nomcl" name="nomcl">
                            <input type="hidden" id="dircl" name="dircl">
                            <input type="hidden" id="emacl" name="emacl">
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label for="tip_comp">Tipo de comprobante</label>
                            <select name="tip_comp" id="tip_comp" class="form-control" required>
                                <option value="7">GUÍA REMISIÓN REMITENTE</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            <label for="serie">Serie</label>
                            <select name="serie" id="serie" class="form-control" required>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-1">
                        <div class="form-group">
                            <label for="corr">Correlativo</label>
                            <input type="text" class="form-control" id="corr" name="corr" disabled required>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            <label for="f_emi">Fecha de inicio de Traslado</label>
                            <input type="date" class="form-control" id="f_emi" name="f_emi" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            <label for="mt_tras">Motivo de Traslado</label>
                            <select name="mt_tras" id="mt_tras" class="form-control" required>
                                <option value="">MOTIVO</option>
                                <option value="01">VENTA</option>
                                <option value="14">VENTA SUJETA A CONFIRMACION DEL COMPRADOR</option>
                                <option value="02">COMPRA</option>
                                <option value="04">TRASLADO ENTRE ESTABLECIMIENTOS DE LA MISMA EMPRESA</option>
                                <option value="18">TRASLADO EMISOR ITINERANTE CP</option>
                                <option value="08">IMPORTACION</option>
                                <option value="09">EXPORTACION</option>
                                <option value="13">OTROS</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label for="adic">Descripción Motivo</label>
                            <input type="text" id="adic" name="adic" class="form-control" required placeholder="Descripción Motivo">
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            <label for="und_p">Und.</label>
                            <select name="und_p" id="und_p" class="form-control" required>
                                <option value="KGM">KILOGRAMOS</option>
                                <option value="TNE">TONELADAS</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-1">
                        <div class="form-group">
                            <label for="peso">Peso</label>
                            <input type="text" class="form-control" id="peso" name="peso" required placeholder="Peso">
                        </div>
                    </div>
                    
                    
                </div>
                <div class="row mt-2">
                    <div class="col-12 col-md-12">
                        <div class="card text-dark bg-light">
                            <div class="card-header text-white" style="background-color:#D9E7FD !important; color:#145680 !important;"><i class="fa-solid fa-user-tie"></i>&nbsp;DATOS DEL TRANSPORTISTA</div>
                            <div class="card-body">
                                <div class="row">
                                    
                                    <div class="col-12 col-md-3">
                                        <div class="form-group">
                                            <label for="p_trans">Placa Transportista </label>
                                            <input type="text" class="form-control" id="p_trans" name="p_trans" required placeholder="Placa">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 col-md-12">
                        <div class="card text-dark bg-light">
                            <div class="card-header text-white" style="background-color:#D9E7FD !important; color:#145680 !important;"><i class="fa-solid fa-user-tie"></i>&nbsp;DATOS DEL CONDUCTOR</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-2">
                                        <div class="form-group">
                                            <label for="t_doc_c">Tipo de Documento</label>
                                            <select name="t_doc_c" id="t_doc_c" class="form-control" required>
                                                <option value="">Elige</option>
                                                <option value="6">RUC - REGISTRO ÚNICO DE CONTRIBUYENTE</option>
                                                <option value="1">DNI - DOC. NACIONAL DE IDENTIDAD</option>
                                                <option value="4">CARNET DE EXTRANJERÍA</option>
                                                <option value="7">PASAPORTE</option>
                                                <option value="A">CÉDULA DIPLOMÁTICA DE IDENTIDAD</option>
                                                <option value="0">NO DOMICILIADO, SIN RUC (EXPORTACIÓN)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <div class="form-group">
                                            <label for="d_con">Documento Numero</label>
                                            <!--<input type="text" class="form-control" id="d_con" name="d_con" required placeholder="Nro Documento">-->
                                            <select name="d_con" id="d_con" class="form-control">
                                                <option value="">Elige</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="form-group">
                                            <label for="n_con">Nombre</label>
                                            <input type="text" class="form-control" id="n_con" name="n_con" placeholder="Nombre" required>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="form-group">
                                            <label for="a_con">Apellido </label>
                                            <input type="text" class="form-control" id="a_con" name="a_con" placeholder="Apellidos" required>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <div class="form-group">
                                            <label for="l_con">Licencia </label>
                                            <input type="text" class="form-control" id="l_con" name="l_con" placeholder="Licencia" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 col-md-12">
                        <div class="card text-dark bg-light">
                            <div class="card-header text-white" style="background-color:#D9E7FD !important; color:#145680 !important;"><i class="fa-solid fa-location-dot"></i>&nbsp;PUNTO DE PARTIDA</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label for="ubigeo_p">Ubigeo Dirección de Partida </label>
                                            <select name="ubigeo_p" id="ubigeo_p" class="form-control" required>
                                                <option value="">Elige</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label for="dir_p">Dirección de Punto de Partida </label>
                                            <input type="text" class="form-control" id="dir_p" name="dir_p" required placeholder="Direccion">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label for="cod_p">Codigo de Establecimiento de Sunat </label>
                                            <input type="text" class="form-control" id="cod_p" name="cod_p" required placeholder="Codigo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 col-md-12">
                        <div class="card text-dark bg-light">
                            <div class="card-header text-white" style="background-color:#D9E7FD !important; color:#145680 !important;"><i class="fa-solid fa-location-dot"></i>&nbsp;PUNTO DE LLEGADA</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-2">
                                        <div class="form-group">
                                            <label for="almacen_cl">Almacén cliente</label>
                                            <select name="almacen_cl" id="almacen_cl" class="form-control">
                                                <option value="">Elige</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label for="ubigeo_d">Ubigeo Dirección de Llegada </label>
                                            <select name="ubigeo_d" id="ubigeo_d" class="form-control" required>
                                                <option value="">Elige</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label for="dir_d">Dirección de Punto de Llegada </label>
                                            <input type="text" class="form-control" id="dir_d" name="dir_d" required placeholder="Dirección">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <div class="form-group">
                                            <label for="cod_d">Cod. de Est. de Sunat </label>
                                            <input type="text" class="form-control" id="cod_d" name="cod_d" required placeholder="Codigo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="card card-outline card-primary">
                            <div class="card-header">
                                <div class="card-title">Selecciona un archivo TXT para iniciar la carga masiva</div>

                                <div class="input-group">
                                    <input type="file" id="file" name="file" class="form-control">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-save"></i>&nbsp;Procesar archivo
                                    </button>
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-trash"></i>&nbsp;Quitar archivo
                                    </button>
                                </div>

                            </div>
                            <div class="card-body">
                                <table class="table table-striped table-sm table-bordered" width="100%" id="tabla">
                                    <thead>
                                        <tr class="table-primary">
                                            <th>#</th>
                                            <th>Código</th>
                                            <th>Descripción</th>
                                            <th>Unidad</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="card text-dark bg-light">
                            <div class="card-header text-white" style="background-color:#D9E7FD !important; color:#145680 !important;"><i class="fa-solid fa-location-dot"></i>&nbsp;OBSERVACIONES</div>

                            <div class="card-body">
                                <textarea class="form-control" name="obs" id="obs" cols="30" rows="2"></textarea>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">

                        <div class="d-grid gap-2">
                            <button class="btn btn-default" type="button"><i class="fa fa-save"></i>&nbsp;REGISTRAR DATOS DE LA GUIA</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>